<!DOCTYPE html>
<html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <meta name="theme-color" content="#009688">
        <title>sensix</title>

        <!-- CSS  -->
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
        <link href="min/custom-min.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link href="css/media.css" type="text/css" rel="stylesheet">

    </head>

    <body id="top" class="scrollspy">

	    <!--Pre Loader-->
	    <div id="loader-wrapper">
	        <div id="loader"></div>

	        <div class="loader-section section-left"></div>
	        <div class="loader-section section-right"></div>

	    </div>

	    <!--Navigation-->
	    <div class="navbar-fixed">
	        <nav id="nav_f" class="default_color">
	            <div class="container">
	                <div class="nav-wrapper">
	                    <a href="#index-banner" id="logo-container" class="brand-logo">sensiX</a>
	                    <ul class="right hide-on-med-and-down bigNav">
	                        <li class="hide-on-small-only"><a href="#idee">Idee</a></li>
	                        <li class="hide-on-med-and-up"><a href="#idee_small">Idee</a></li>
	                        <li><a href="#team">Team</a></li>
	                        <li><a href="#projectstatus">Status</a></li>
	                        <li><a href="#downloads">Downloads</a></li>
	                        <li><a href="#sponsoren">Sponsoren</a></li>
	                        <li><a href="#kontakt">Kontakt</a></li>
	                    </ul>
	                    <ul id="nav-mobile" class="side-nav">
	                        <li class="hide-on-small-only"><a href="#idee">Idee</a></li>
	                        <li class="hide-on-med-and-up"><a href="#idee_small">Idee</a></li>
	                        <li><a href="#team">Team</a></li>
	                        <li><a href="#projectstatus">Status</a></li>
	                        <li><a href="#downloads">Downloads</a></li>
	                        <li><a href="#sponsoren">Sponsoren</a></li>
	                        <li><a href="#kontakt">Kontakt</a></li>
	                    </ul>
	                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	                </div>
	            </div>
	        </nav>
	    </div>

	    <!--Hero-->
	    <div class="section no-pad-bot default_color scrollspy" id="index-banner">
	        <div class="container">
	            <h1 class="text_h center header cd-headline letters type">
	                <span>I Like</span>
	                <span class="cd-words-wrapper waiting">
	                    <b class="is-visible">sensiX</b>
	                    <b>scripting</b>
	                    <b>HTL Rennweg</b>
	                </span>
	            </h1>
	        </div>
	    </div>

	    <!--Die Idee-->
	    <div id="idee" class="hide-on-small-only section scrollspy">
	        <div class="container">
	            <h2 class="topic center">Die Idee</h2>

	            <div class="row valign-wrapper">
	                <div class="col s12 m3 l2 offset-l1">
	                    <img class="responsive-img" src="img/server_rack_small.png" alt="">
	                </div>
	                <div class="col s12 m9 l6">
	                    <h4>Das Problem..</h4>
	                    <p class="left-align ">
	                        Du hast es nicht geschafft in Netzwerktechnik eine Übung fertig zu machen oder warst krank? <br>
	                        Du willst für eine praktische Netzwerktechnik Prüfung üben, hast aber nicht das nötige Kleingeld für
	                        einen Serverraum?
	                    </p>
	                </div>
	            </div>

	            <div class="row valign-wrapper">
	                <div class="col s12 m9 l6 offset-l3">
	                    <h4 class="right-align">Make it work!</h4>
	                    <p class="right-align">
	                        Dann ist unsere Webapplication <span class="thick"><em>sensiX</em></span>, die wir als Diplomarbeit
	                        im Zuge des
	                        fünften Jahrganges machen, genau das Richtige für dich!
	                    </p>
	                </div>
	                <div class="col s12 m3 l2">
	                    <img class="responsive-img" src="img/website_small.png" alt="">
	                </div>
	            </div>

	            <div class="row valign-wrapper">
	                <div class="col s12 m3 l2 offset-l1">
	                    <img class="responsive-img" src="img/calender_small.png" alt="">
	                </div>
	                <div class="col s12 m9 l6">
	                    <h4>Einfache Bedienung</h4>
	                    <p class="left-align">
	                        Melde dich einfach zuhause von deinem Computer mit deinen moodle-Daten auf unserer Platform an,
	                        wähle ein Datum und eine Zeit zu der du gerne auf den Netzwerktechnik-Geräten in der Schule
	                        arbeiten möchtest....
	                    </p>
	                </div>
	            </div>

	            <div class="row valign-wrapper">
	                <div class="col s12 m9 l6 offset-l3">
	                    <h4 class="right-align">Problemloses Konfigurieren</h4>
	                    <p class="right-align">
	                        ... und schon kannst du einfach und unkompliziert deine Netzwerktechnik Übungen,
	                        bequem von zuhause aus machen!
	                    </p>
	                </div>
	                <div class="col s12 m3 l2">
	                    <img class="responsive-img" src="img/commandline_small.png" alt="">
	                </div>
	            </div>
	        </div>
	    </div>
	    
	                                <!--for small screens only-->
	    <div id="idee_small" class="hide-on-med-and-up section scrollspy">
	        <div class="container">
	            <h2 class="topic center">Die Idee</h2>

	            <div class="row valign-wrapper">
	                <div class="col s12 center">
	                    <img class="responsive-img" src="img/server_rack_small.png" alt="">
	                </div>
	            </div>
	            <div class="row valign-wrapper">
	                <div class="col s12 center">
	                    <h4>Das Problem..</h4>
	                    <p>
	                        Du hast es nicht geschafft in Netzwerktechnik eine Übung fertig zu machen oder warst krank? <br>
	                        Du willst für eine praktische Netzwerktechnik Prüfung üben, hast aber nicht das nötige Kleingeld für
	                        einen Serverraum?
	                    </p>
	                </div>
	            </div>

	            <div class="row valign-wrapper center">
	                <div class="col s12">
	                    <img class="responsive-img" src="img/website_small.png" alt="">
	                </div>
	            </div>
	            <div class="row valign-wrapper center">
	                <div class="col s12">
	                    <h4>Make it work!</h4>
	                    <p>
	                        Dann ist unsere Webapplication <span class="thick"><em>sensiX</em></span>, die wir als Diplomarbeit
	                        im Zuge des
	                        fünften Jahrganges machen, genau das Richtige für dich!
	                    </p>
	                </div>
	            </div>

	            <div class="row valign-wrapper center">
	                <div class="col s12">
	                    <img class="responsive-img" src="img/calender_small.png" alt="">
	                </div>
	            </div>
	            <div class="row valign-wrapper center">
	                <div class="col s12">
	                    <h4>Einfache Bedienung</h4>
	                    <p>
	                        Melde dich einfach zuhause von deinem Computer mit deinen moodle-Daten auf unserer Platform an,
	                        wähle ein Datum und eine Zeit zu der du gerne auf den Netzwerktechnik-Geräten in der Schule
	                        arbeiten möchtest....
	                    </p>
	                </div>
	            </div>

	            <div class="row valign-wrapper center">
	                <div class="col s12">
	                    <img class="responsive-img" src="img/commandline_small.png" alt="">
	                </div>
	            </div>
	            <div class="row valign-wrapper center">
	                <div class="col s12">
	                    <h4>Problemloses Konfigurieren</h4>
	                    <p>
	                        ... und schon kannst du einfach und unkompliziert deine Netzwerktechnik Übungen,
	                        bequem von zuhause aus machen!
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!--Das Team-->
	    <div class="section scrollspy gray" id="team">
	        <div class="container">
	            <h2 class="topic center" id="teamScroll">Das Team</h2>
	            <div class="row">
	                <div class="col s12 m12 l3">
	                    <div class="card card-avatar">
	                        <div class="waves-effect waves-block waves-light">
	                            <img class="activator" src="img/tmp/avatar3.png" alt="">
	                        </div>
	                        <div class="card-content">
	                            <span class="card-title">Max Sutrich<br/>
	                                <small><em class="text-red">
	                                    <strong>
	                                        Projektleiter
	                                    </strong>
	                                    <br>
	                                    Scripting
	                                    <br>
	                                    Programmierung
	                                </em>
	                                </small>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col s12 m12 l3">
	                    <div class="card card-avatar">
	                        <div class="waves-effect waves-block waves-light">
	                            <img class="activator" src="img/tmp/avatar4.png" alt="">
	                        </div>
	                        <div class="card-content">
	                            <span class="card-title">Abusufean Ali<br/>
	                                <small><em class="text-red">
	                                    <strong>
	                                        Projektleiter Stv.
	                                    </strong>
	                                    <br>
	                                    Web-Development
	                                    <br>
	                                    Marketing
	                                </em></small>
	                            </span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col s12 m12 l3">
	                    <div class="card card-avatar">
	                        <div class="waves-effect waves-block waves-light">
	                            <img class="activator" src="img/tmp/avatar1.png" alt="">
	                        </div>
	                        <div class="card-content">
	                            <span class="card-title">Andreas Schanz<br/>
	                                <small><em class="text-red">
	                                    <strong>
	                                        Mitarbeiter
	                                    </strong>
	                                    <br>
	                                    Scripting
	                                    <br>
	                                    Programmierung
	                                </em></small></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col s12 m12 l3">
	                    <div class="card card-avatar">
	                        <div class="waves-effect waves-block waves-light">
	                            <img class="activator" src="img/tmp/avatar2.png" alt="">
	                        </div>
	                        <div class="card-content">
	                            <span class="card-title">Anna Bauer<br/>
	                                <small><em class="text-red">
	                                    <strong>
	                                        Mitarbeiter
	                                    </strong>
	                                    <br>
	                                    Marketing
	                                    <br>
	                                    Web-Development
	                                </em></small></span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!--Bild 1 (Team?)-->
	    <div class="parallax-container">
	        <div class="parallax"><img src="img/programming.jpg" alt=""></div>
	    </div>

	    <!--Projektstatus-->
	    <div id="projectstatus" class="section scrollspy">
	        <div class="container">
	            <h2 class="topic center">Projektstatus</h2>
	            <div class="row">
	                <div class="col s12 m12 l12 center flow-text">
	                    10% completed
	                </div>
	                <div class="col s12 m12 l12">
	                    <div class="progress">
	                        <div class="determinate progress-percentage"></div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col s2 m2 l2 center">
	                    <img class="meilenstein responsive-img" src="img/turned_in.png" alt="">
	                </div>
	                <div class="col s2 m2 l2 center">
	                    <img class="placeholder meilenstein responsive-img under_construction" src="img/under_constructions_no-material.png" alt="">
	                </div>
	                <div class="col s2 m2 l2 center">
	                    <img class="placeholder meilenstein responsive-img" src="img/placeholder.png" alt="">
	                </div>
	                <div class="col s2 m2 l2 center">
	                    <img class="placeholder meilenstein responsive-img" src="img/placeholder.png" alt="">
	                </div>
	                <div class="col s2 m2 l2 center">
	                    <img class="placeholder meilenstein responsive-img" src="img/placeholder.png" alt="">
	                </div>
	                <div class="col s2 m2 l2 center">
	                    <img class="placeholder meilenstein responsive-img" src="img/placeholder.png" alt="">
	                </div>
	            </div>
	            <div class="row">
	                <div class="col s2 m2 l2 center hide-on-small-and-down">
	                    Sprint 1
	                    <br>
	                    Sprintname 1
	                </div>
	                <div class="col s2 m2 l2 center placeholder hide-on-small-and-down">
	                    Sprint 2
	                    <br>
	                    under construction
	                </div>
	                <div class="col s2 m2 l2 center placeholder hide-on-small-and-down">
	                    Sprint 3
	                </div>
	                <div class="col s2 m2 l2 center placeholder hide-on-small-and-down">
	                    Sprint 4
	                </div>
	                <div class="col s2 m2 l2 center placeholder hide-on-small-and-down">
	                    Sprint 5
	                </div>
	                <div class="col s2 m2 l2 center placeholder hide-on-small-and-down">
	                    Sprint 6
	                </div>
	            </div>
	        </div>
	    </div>

	    <br>
	    <br>

	    <!--Downloads-->
	    <div id="downloads" class="gray section scrollspy">
	        <div class="container">
	            <h2 class="topic center">Downloads</h2>
	            <div class="row">
	                <div class="col s12 m12 l12 center">
	                    <table class="bordered z-depth-1 border-radius">
	                        <tbody>
	                        <tr>
	                            <td>Diplomarbeitsantrag</td>
	                            <td class="right other-padding"><a href="downloads/da_antrag_v6.1.pdf" target="_blank"><img class="download responsive-img" src="img/download.png" alt=""></a>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td>Management Summary 1</td>
	                            <td class="right other-padding"><a href="#downloads"><img class="download responsive-img"
	                                                                                      src="img/download.png" alt=""></a>
	                            </td>
	                        </tr>
	                        <tr class="white-bg">
	                            <td>work harder to unlock achievment "Management Summary 2"</td>
	                            <td></td>
	                        </tr>
	                        <tr class="white-bg">
	                            <td>work harder to unlock achievment "Management Summary 3"</td>
	                            <td></td>
	                        </tr>
	                        <tr class="white-bg">
	                            <td>work harder to unlock achievment "Management Summary 4"</td>
	                            <td></td>
	                        </tr>
	                        <tr class="white-bg">
	                            <td>work harder to unlock achievment "Management Summary 5"</td>
	                            <td></td>
	                        </tr>
							<tr class="white-bg">
								<td>work harder to unlock achievment "Pr&auml;sentation 1"</td>
								<td></td>
							</tr>
	                        <!--<tr class="no-border-bottom">
	                            <td>Pr&auml;sentation 1</td>
	                            <td class="right other-padding">
	                            	<a href="#downloads"><img class="download responsive-img" src="img/download.png" alt=""></a>
								</td>
	                        </tr>-->
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>

	        <br>
	        <br>
	        <br>

	    </div>

	    <!--Bild 2-->
	    <div class="parallax-container">
	        <div class="parallax"><img src="img/wire.jpg" alt=""></div>
	    </div>


	    <!--Sponsoren-->
	    <div id="sponsoren" class="section scrollspy gray">
	        <div class="container">
	            <h2 class="topic center">Sponsoren</h2>
	            <div class="row">
	                <div class="col l12 m12 s12">
	                    <p class="center flow-text">
	                        Wir sind zur Zeit noch auf der Suche nach Sponsoren. <br>
	                        Finden Sie unser Projekt interessant? Möchten Sie uns bei unserer Arbeit unterstützen?
	                        <br>
	                        <br>
	                        Kontaktieren Sie uns einfach mit Hilfe der unten angegebenen Kontaktdaten und werden
	                        Sie unser Sponsor!
	                        <br>
	                        Wir würden uns über Ihre Unterstützung freuen!
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>


	    <!--Kontakt-->
	    <div id="kontakt" class="section scrollspy" ng-app="MailApp">
	        <div class="container" ng-controller="MailController">
	            <h2 class="topic center">Kontakt</h2>
	            <div class="row">
	                <div class="col l6 m6 s12">
		                <div ng-show="sent">
			                <h5 ng-show="sent">Vielen Dank! Das Team wird sich in kürze bei Ihnen melden</h5>
		                </div>
	                    <form class="col s12 m12 l12" method="post" ng-submit="sendMail()" ng-hide="sent">
	                        <div class="row">
	                            <div class="input-field col s6 m6 l6">
	                                <i class="material-icons right prefix">account_circle</i>
	                                <input id="icon_prefix" ng-model="name" name="name" type="text" class="validate black-text" required>
	                                <label for="icon_prefix" class="black-text">&nbsp; Ihr Name</label>
	                            </div>
	                            <div class="input-field col s6">
	                                <i class="material-icons right prefix">mail</i>
	                                <input id="icon_email" ng-model="email" name="email" type="email" class="validate black-text" required>
	                                <label for="icon_email" class="black-text">&nbsp; E-Mail</label>
	                            </div>
	                            <div class="input-field col s12">
	                                <i class="material-icons prefix">edit</i>
	                                <textarea id="icon_prefix2" ng-model="message" name="message"
	                                          class="materialize-textarea black-text" required></textarea>
	                                <label for="icon_prefix2" class="black-text">&nbsp; Nachricht</label>
	                            </div>

	                            <div class="col offset-s7 s5 right-align">
	                                <button class="btn waves-effect waves-light red-button" type="submit">Senden
	                                    <i class="material-icons right">send</i>
	                                </button>
	                            </div>
	                        </div>
	                    </form>
	                </div>

	                <div class="col s12 m4 l4 center offset-l2 offset-m2">
	                    <div class="row valign-wrapper">
	                        <div class="col s3 m3 l3">
	                            <a href="mailto:project.sensix@gmail.com" class="black-text">
	                                <img src="img/mail.png" alt="">
	                            </a>
	                        </div>
	                        <div class="col s9 m9 l7">
	                            <a href="mailto:project.sensix@gmail.com" class="black-text">
	                                project.sensix@gmail.com
	                            </a>
	                        </div>
	                    </div>
	                    <div class="row valign-wrapper">
	                        <div class="col s3 m3 l3">
	                            <img src="img/location.png" alt="">
	                        </div>
	                        <div class="col s9 m9 l7">
	                            z.h. Max Sutrich
	                            <br>
	                            Rennweg 89a, 1030 Wien
	                            <br>
	                            Österreich
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>


	    <!--Footer-->
	    <div class="scrollspy footer">
            <div class="container center">
                © copyright Team A3M
            </div>
	    </div>


	    <!--  Scripts-->
	    <script src="min/plugin-min.js"></script>
	    <script src="min/custom-min.js"></script>

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
	    <script src="js/angular/app.js"></script>

	    <script>
	        $(document).ready(function () {
	            $(".button-collapse").sideNav();
	        })
	    </script>
    </body>

</html>
